@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="mt-3" hx-get="@Url.Action("DetallesCliente", "Htmx", new { id = 1 })" hx-target="this" hx-trigger="load, detalleClienteChange from:body">
                cargando ...
            </div>
        </div>

        <div class="col-md-9 col-sm-12">
            <div class="mt-3" hx-get="@Url.Action("PrestamosPendientesPorCliente", "Htmx", new { id = 1 })" hx-target="this" hx-trigger="load">
                cargando ...
            </div>
        </div>
    </div>

    <div id="id-modal-block" class="modal">
        <div id="id-modal-dialog-block" class="modal-dialog" hx-target="this">
        </div>
    </div>

    <script>

        const myModal = new bootstrap.Modal(document.getElementById('id-modal-block'));

        htmx.on('htmx:afterSwap', (e) => {
            if (e.detail.target.id == 'id-modal-dialog-block') {
                myModal.show();
            }
        });

        htmx.on('htmx:beforeSwap', (e) => {
            if (e.detail.target.id == 'id-modal-dialog-block' && !e.detail.xhr.response) {
                myModal.hide()
            }
        })
    </script>

</div>
